*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

.header_top .header_top_center .top_center_btn, .header_bottom .header_bottom_container .header_bottom_btn, .services .services_container .services_img .services_readMore .readMore_btn {
  background-color: #47B5F6;
  color: #fff;
  text-decoration: none;
  height: 50px;
  border-radius: 40px;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.header_top .header_top_center .top_center_btn:hover, .header_bottom .header_bottom_container .header_bottom_btn:hover, .services .services_container .services_img .services_readMore .readMore_btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.none {
  display: none;
}

.header {
  width: 100%;
  height: 100vh;
}

.header_top {
  background: url("img/main.png") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 85vh;
  -webkit-background-size: cover;
  position: relative;
}

.header_top .header_top_up {
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_top .header_top_up .header_logo {
  margin: 20px;
}

.header_top .header_top_up .header_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px;
}

.header_top .header_top_up .header_nav .nav_link {
  margin: 0 30px;
  text-decoration: none;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  font-family: 'Lato', sans-serif;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.header_top .header_top_up .header_nav .nav_link:hover {
  color: #47B5F6;
}

.header_top .header_top_up .header_nav .nav_quote {
  background-color: #47B5F6;
  width: 140px;
  height: 40px;
  border-radius: 40px;
  margin: 0 20px 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  cursor: pointer;
}

.header_top .header_top_up .header_nav .nav_quote .nav_link_last {
  text-decoration: none;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  font-family: 'Lato', sans-serif;
}

.header_top .header_top_up .header_nav .nav_quote:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header_top .header_top_center {
  position: absolute;
  top: 30%;
  left: 7%;
  width: 35%;
  min-width: 705px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header_top .header_top_center .top_center_text {
  color: #fff;
}

.header_top .header_top_center .top_center_text h1 {
  font-family: 'Lato', sans-serif;
  font-size: 70px;
  font-weight: bolder;
  margin-bottom: 13px;
}

.header_top .header_top_center .top_center_text p {
  font-family: 'Cairo', sans-serif;
  font-size: 25px;
  margin-bottom: 30px;
  line-height: 1.5;
}

.header_top .header_top_center .top_center_btn {
  background-color: #016CBC;
  height: 60px;
  width: 50%;
  max-width: 255px;
}

.header_bottom {
  background-color: #016CBC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15vh;
}

.header_bottom .header_bottom_container {
  width: 60%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header_bottom .header_bottom_container .header_bottom_text {
  width: 29%;
  max-width: 282px;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  line-height: 50px;
  color: #fff;
  font-weight: bold;
}

.header_bottom .header_bottom_container .header_bottom_accordion {
  width: 37%;
  max-width: 360px;
  height: 40px;
  color: #434242;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  background-color: #fff;
  height: 50px;
  border-radius: 40px;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_bottom .header_bottom_container .header_bottom_btn {
  width: 34%;
  max-width: 260px;
}

.services {
  background-color: #F2F2F2;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.services .services_container {
  height: 70%;
  width: 90%;
  max-height: 875px;
  max-width: 1750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.services .services_container .services_left {
  width: 35%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services .services_container .services_left .services_text {
  max-width: 540px;
}

.services .services_container .services_left .services_text h6 {
  color: #434242;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 16px;
  letter-spacing: 2px;
  margin: 0 0 6px 0;
}

.services .services_container .services_left .services_text h1 {
  color: #005BA9;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 50px;
  margin-bottom: 25px;
}

.services .services_container .services_left .services_text p {
  color: #434242;
  font-size: 18px;
  line-height: 1.5;
  font-family: 'Lato', sans-serif;
}

.services .services_container .services_left .services_menu .service_block {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #bbbbbb;
  cursor: pointer;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.services .services_container .services_left .services_menu .service_block img {
  margin-left: 25px;
}

.services .services_container .services_left .services_menu .service_block h1 {
  margin-left: 25px;
  color: #666666;
  font-family: 'Cairo', sans-serif;
  font-weight: 700;
  font-size: 32px;
}

.services .services_container .services_left .services_menu .service_block:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: -5px 5px 20px #666666;
          box-shadow: -5px 5px 20px #666666;
}

.services .services_container .services_img {
  width: 65%;
  background: url("img/services_img.png") center no-repeat;
  background-size: cover;
  z-index: 1;
  position: relative;
}

.services .services_container .services_img .transparent_blue {
  width: 100%;
  height: 100%;
  background-color: #016CBC;
  opacity: .3;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
}

.services .services_container .services_img .services_readMore {
  max-width: 550px;
  max-height: 600px;
  width: 50%;
  height: 70%;
  background-color: #005BA9;
  opacity: .8;
  z-index: 3;
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services .services_container .services_img .services_readMore .readMore_text {
  color: #fff;
  font-size: 24px;
  font-family: 'Cairo', sans-serif;
  font-weight: 400;
  opacity: 1;
  z-index: 4;
  margin: 60px 50px 40px 55px;
  line-height: 1.5;
}

.services .services_container .services_img .services_readMore .readMore_btn {
  max-width: 206px;
  min-height: 50px;
  margin-bottom: 60px;
  margin-left: 55px;
}
/*# sourceMappingURL=style.css.map */